.footer__column-link{
    text-decoration: none;
    color: #ffffff;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    align-items: center;
    opacity: 1;
  }
  
  .footer__column-link:hover{
    opacity: 0.5;
    transition: 0.2s;
  }